.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoPhoto {
  width: 150px;
  margin-top: 20px;
}

.input {
  margin-bottom: 15px;
}

.fname-input, .lname-input, .email-input, .password-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login {
  text-align: center;
}

.login-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.register-link a:hover {
  text-decoration: underline;
}
