.content {
    background-color: rgb(230, 236, 241);
    height: 100vh;
    padding-bottom: 5%;
}

.recipes {
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

.posting {
    background-color: black;
    padding: 8px 14px;
}

.posting:hover {
    background-color: rgb(112, 112, 112);
}