.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}